* {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #34B0C6;
    display: flex;
    justify-content: center;
}

#navbar {
    margin: 0.5rem;
    padding: 0.3rem;
}

#addButton > input {
    border: solid #6C80D8 2px;
    border-radius: 4px;
    margin: 0rem 0.5rem;
    padding: 0.3rem 0.2rem;
}

#addButton > input:focus {
    border: solid #344FC5 0.13rem;
    box-shadow: 0 0 0 1px #344FC5;
    outline:none;
}

#addButton > button {
    background-color: #405ACC;
    border: solid #405ACC 0.13rem;
    border-radius: 4px;
    color: white;
    margin: 0rem 0.5rem;
    padding: 0.3rem 0.2rem;
}

#addButton > button:focus {
    border: solid #344FC5 0.13rem;
    box-shadow: 0 0 0 1px #344FC5;
    outline:none;
}

#list {
    display: flex;
    flex-direction: column;
    margin: 1rem 30%;
    padding: 0.5rem;
}

#task {
    background-color: #34C57B;
    border: 2px solid #34C57B;
    border-radius: 4px;
    padding: 0.5rem;
    margin: 0.5rem;
}

#task > p {
    border-bottom: 1px solid #344FC5;

    padding: 0.5rem 0.2rem;
    word-wrap: break-word;
}

#task > button {
    background-color: #FF4F4F;
    border: solid #FF4F4F 0.13rem;
    border-radius: 4px;
    color: white;
    margin: 0.2rem 0.3rem;
    margin-top: 0.7rem;
    padding: 0.2rem 0.3rem;
}

#task > button:focus {
    border: solid #FF3F3F 0.13rem;
    box-shadow: 0 0 0 1px #FF3F3F;
    outline:none;
}

@media (max-width: 800px) {
    #list {
        margin: 1rem 5%;
    }
}
